@media all and (max-width: 480px) {
  .polizas{
    padding: 6%;
    padding-top: 50px;
  }  

}

@media all and (min-width: 480px) {
  .polizas{
    margin: auto;
    padding: 0px;
    width: 70%;
  }  

}