@media all and (min-width: 480px) {
    .tabulador{
        padding-bottom: 10px;
        margin: auto;
        
    }

    .tabulador{
        background-color: white;
    }

    .form{
        width: 93%;
        margin: auto;
        padding-bottom: 20px;
    }

    .nombresTabulador{
        margin-left: 15px !important;
        width: 30%;
        padding-bottom: 20px !important;
    }

    .tarjeta{
        padding: 0px !important;
    }
    .tarjeta p{
        margin: 10px !important;
    }

    .tarjeta h4{
        margin: 10px !important;
    }

    .contenedorTarjeta{
        margin-top: 15px !important;
    }

    .datosTotales{
        width: 50%;
        text-align: left;
        float: left;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 812px) {

    .selects{
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
        width: 20%;
    }

    .nombresTabulador{
        width: 90%;
    }

    .radiobotones{
        margin: auto;
        width: 130px;
    }
    
    .botonEnviar{
        margin: 35px;
    }

}
  