@media all and (min-width: 480px) {

    .selects{
        display: inline;
        margin: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .radiobotones{
        margin: auto;
        width: 240px;
    }
    
    .botonEnviar{
        margin: 35px;
    }

}
@media all and (max-width: 480px) {

    .selects{
        margin: auto;
    }

    .radiobotones{
        margin: auto;
        width: 130px;
    }
    
    .botonEnviar{
        margin: 35px;
    }

}
  