@media all and (min-width: 480px) {

    .selects{
        display: inline;
        margin: 0px 25px 0px 25px;
    }

    .radiobotones{
        margin: auto;
        width: 240px;
    }
    
    .botonEnviar{
        margin: 35px;
    }

}
@media all and (max-width: 480px) {

    .selects{
        display: inline;
        margin: 0px 15px 5px 0px;
    }

    .radiobotones{
        margin: auto;
        width: 130px;
    }
    
    .botonEnviar{
        margin: 35px;
    }

}
  